body {
    margin: 0;
}
header{
    background-color: aliceblue;
    height: 40px;
    padding: 3px 0 3px 15px;
}


#logo{
    height: 100%;
    vertical-align: middle;
}

#navigation, #navigation> li{
    display: inline;
}
#navigation li{
    margin-right: 200px;
}